@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-2 bg-success text-white rounded shadow p-3 contact_info">Contact Information</div>
        <div class="col-1"></div>
        <div class=col-3 align="center">
            <h2 class="service bg-success text-white rounded">Phone Number</h2>
            <div>1-888-555-1234</div>
        </div>
        <div class=col-3 align="center">
            <h2 class="service bg-success text-white rounded">Mailing Address</h2>
            <div>PO Box 55555</div>
            <div>Middle, Indiana 43208</div>
        </div>
        <div class=col-3 align="center">
            <h2 class="service bg-success text-white rounded">Email Adress</h2>
            <div><a href="mailto:contact@spicknspangroomers.org">conatact@snsgroomers.org</a></div>
        </div>
        <div class="col" align="center">
            <h2>We hope to see you and your pet soon!</h2>
        </div>
    </div>
</div>
<br />
