@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-2 bg-success text-white rounded shadow p-3 pamper">PAMPER YOUR PET HERE!</div>
        <div class="col-1"></div>
        <div class="col-1">
            <img src="~/Images/dog washer service step 1 sm.png" /><br />
            <div align='right'>Schedule an appointment for the desired service</div> 
        </div>
        <div class="col-1">
            <img src="~/Images/down dotted line.png" />
        </div>
        <div class="col-1">
            <img src="~/Images/dog washer service step 2 sm.png" /><br />
            <div align='right'>We confirm the time and place and drive to you</div>
        </div>
            <div class="col-1">
            <img src="~/Images/up dotted line.png" />
        </div>
        <div class="col-1">
            <img src="~/Images/dog washer service step 3 sm.png" /><br />
            <div align='right'>Sit back while your pet is cleaned and pampered</div>
        </div>
            <div class="col-1">
            <img src="~/Images/down dotted line.png" />
        </div>
        <div class="col-1">
            <img src="~/Images/dog washer service step 4 sm.png"  /><br />
            <div align='right'>Your best friend is Spick 'N Span!</div>
        </div>
    </div>
</div>
<br />

