@{
    ViewData["Title"] = "Services";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-2 lime text-white rounded shadow p-3 pamper">Pet Grooming Services</div>
        <div class="col-1"></div>
        <div class=col-2>
            <h2 class="service lime text-white rounded" align='center'>Service 1</h2>
            <div class='price rounded' align='center'><b>Price</b></div><br />
            <div class='desc reounded' align='center'>Description of service</div>
        </div>
        <div class=col-2>
            <h2 class="service lime text-white rounded" align='center'>Service 2</h2>
            <div class='price rounded' align='center'><b>Price</b></div><br />
            <div class='desc rounded' align='center'>Description of service</div>
        </div>
        <div class=col-2>
            <h2 class="service lime text-white rounded" align='center'>Service 3</h2>
            <div class='price rounded' align='center'><b>Price</b></div><br />
            <div class='desc rounded' align='center'>Description of service</div>
        </div>
        <div class=col-2>
            <h2 class="service lime text-white rounded" align='center'>Service 4</h2>
            <div class='price rounded' align='center'><b>Price</b></div><br />
            <div class='desc rounded' align='center'>Description of service</div>
        </div>
    </div>
</div>
<br />